body, html {
    height:100%;
    width: 100%;

}
  
* {
    box-sizing: border-box;
}
  
/* Site Background */
.bg-image {
    height:100%; 
    background-color: #7F7F7F;
    background-image: url("../images/advisory.png");
}

.header {
    height: 60px;
    background-color: #404040;
    border-bottom: 5px solid #E5E5E5;
    text-align: center;
    box-shadow: 0px 6px 20px 1px #8f01a2;
}

.header p {
    color: #FFFFFF;
    padding-top: 22px;
    font-size: 13px;
}

.powerbar {
    width: 950px;
    height: 30px;
    background-color: rgba(143, 1, 162, 0.5);;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 646px;
    background-color: #E5E5E5;
    border-bottom: black solid 5px;
    box-shadow: 0px 21px 25px 5px #8f01a2
}

.container img {
    display: block;
    width: 960px;   
}

.leftcol {
    float: left;
    height: 341px;
    width: 30%;
}

.leftcol img {
    width: auto;
    height: 100%;
    padding-left: 120px;
}

.rightcol {
    float: left;
    height: 341px;
    width: 70%;
}

@font-face {
    font-family: maintext;
    src: url(STYLEWARS.ttf);
}

@font-face {
    font-family: hangletters;
    src: url(PhillySans.otf);
}

.textbox {
    margin: 20px 20px 20px 20px;
}

.topline p {
    display: inline;
    font-family: maintext;
    font-size: 40px;
}

.topline h1 {
    display: inline;
    font-family: maintext;
    font-size: 40px;
}

.play h2{ 
    font-family: maintext;
    font-size: 25px;
    line-height: 30px;
}

.play p {
    font-family: maintext;
    font-size: 16px;
    line-height: 24px;
}

#getlost h3 {
    font-family: hangletters;
    font-size: 60px;
}
